body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #ffd87d;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > * {
    text-align: left;
}

nav > img {
    width: 90px;
    margin-right: 20px;
    border: 2px solid;
    border-radius: 10px;
}

#load_animation {
    filter: blur(.3px);
    animation: rotation 5s infinite linear;
    width: 150px;
    margin: 100px;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main > section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    min-width: 50px;
}

.button > button {
    color: white;
    background-color: rgb(211, 130, 9);
    border-radius: 10px;
    font-size: xx-large;
}

#video_player > iframe {
    display: none;
    height: 400px;
    width: 840px;
}

#lessons_from_video {
    display: none;
}

article {
    background-color: #ffdcac;
    width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

footer {
    height: 8vh;
    background-color: #ffdcae;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }