<!DOCTYPE html>
<html>
    <head>
        <title>BK HR HTML CHALLENGE</title>
        <meta name="description" content="hr html challenge">
        <meta name="keywords" content="hr html challenge">
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/index.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <img src="static/img/low-res-logo-lmao.webp" alt="Batman's Kitchen Logo">
                <div id="page_title">
                    <h1>Batman's Kitchen</h1>
                    <h2>HTML-Only Challenge</h2>
                </div>
            </nav>
        </header>
        <main>
            <div id="back" class="button">
                <button id="back_button_sdficnj34iunhy78vsdizzf4"><</button>
            </div>
            <section>
                <h3><strong>Welcome to HR Training!</strong></h3>
                <p>Solve this challenge with only HTML - I promise it's possible and fairly easy too!<br>Go to the next HR Training video before the Next Button appears on its own to beat this challenge.<br>I sped up the time to 10x so you don't have to watch the entire video.<br>Don't look at JavaScript!</p>
                <img id="load_animation" src="static/img/loading.gif" alt="Loading gif">
                <div id="video_player">
                    <iframe id="youtube_video" src="about:blank" allowfullscreen></iframe>
                </div>
                <article id="hr_article">
                    <h2>Lessons from HR</h2>
                    <div id="lesson_from_video"></div>
                </article>
            </section>
            <div id="next" class="button">
            </div>
        </main>
        <footer>
            <div id="footer_info">Copyright &copy; 2023 Batman's Kitchen Cybersecurity RSO at the University of Washington</div>
        </footer>
    </body>
</html>